.footer{ 
  background: rgba(255, 255, 255, 0.418);
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.footer h2{ 
  display: inline;
}

.footer ul {
  font-weight: bold;
  font-stretch: expanded;
  text-align: 100px center ;
  padding: 5px;
  font-size: 100%;
  font-family: sans-serif;
  justify-content: space-between;
  display: flex;
  color: #444040;
  text-decoration: none;
  padding:5px;
  
  
}

.footer ul a{
  font-weight: bold;
  font-stretch: expanded;
  text-align: 100px center ;
  padding: 5px;
  font-size: 100%;
  font-family: sans-serif;
  justify-content: space-between;
  display: flex;
  color: #444040;
  text-decoration: none;
  padding:5px;
  
  
}